network:
  version: 2
  ethernets:
    ens18:
      dhcp4: false
      addresses:
        - 172.22.120.205/24
      nameservers:
        addresses: [8.8.8.8, 8.8.4.4]
      routes:
        - to: 0.0.0.0/0
          via: 172.22.6.250
